@media screen and (min-width:320px) and (max-width:1023px){
    .prime{
        width: 1023px; 
        height: 100vh;  
    }
    }

.prime{
    background-image: url('prime\ video\ wall\ paper.png');
    background-size: cover;
    background-color: white !important;
    
    height: 100vh;
}

